language: java
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
  - openjdk6
after_success:
  - "git clone -b travis `git config --get remote.origin.url` target/travis"
  - "mvn deploy --settings target/travis/settings.xml"

branches:
  except:
    - travis

env:
  global:
    - secure: "lVXetm/xlM3GkIdLH1gYFVvA/6DA1xLkkg7gakrwJk0tTEOxKgyBo6yO+XWF\ndVkcSjXG8i6AG2A2V3SgfGCzbxhcT27/TwXs5On/2Fqs70TvwiiXDZrGcRBS\nsDtZSq0wzjzEbb049Tvhr9RFfR03NsQ13D6I0xGiszLk+V+rBn0="
    - secure: "gYF7PaRwoSUSIxynxjgBYJ/D9DLYHCXf9D2cg+vQwPavagb7O4YBfUadobWq\nqwmpY+dpQtmRIIOQdqVYAZUp68K2fqNd3Aug/qMh8+iiR4ZO6cCTaI9sQu3Q\n9C9fqYiKCk9aLU0Xylc/R7MJ+ZBR/bJrX5IsNEEnLG3OsoAOjkw="
