<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2010-2024 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          https://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 https://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>MyBatis Ehcache | Reference Documentation</title>
    <author email="simone.tripodi@gmail.com">Simone Tripodi</author>
  </properties>

  <body>
    <section name="MyBatis Ehcache Adapter - Reference Documentation">

            <p><a href="https://www.ehcache.org/">Ehcache</a> is a widely used java distributed cache for general purpose caching,
            Java EE and light-weight containers.</p>
            <p>The Ehcache integration is built on top of the <code>ehcache</code> and comes without any Ehcache 3rd party applications. 
            Please refer to official Ehcache <a href="https://www.ehcache.org/documentation/">documentation</a> if you need plugins.</p>
            <p>To use Ehcache in your application download the <a href="https://github.com/mybatis/ehcache-cache/releases">zip bundle</a>, 
            decompress it and add the jars to the classpath.</p>
            <p>If you are using Maven then simply add to your <code>pom.xml</code> the following dependency:</p>
            
            <source><![CDATA[<dependencies>
  ...
  <dependency>
    <groupId>org.mybatis.caches</groupId>
    <artifactId>mybatis-ehcache</artifactId>
    <version>${project.version}</version>
  </dependency>
  ...
</dependencies>]]></source>

            <p>then, just configure a cache element in your mapper XML files as follows:</p>
            
            <source><![CDATA[<mapper namespace="org.acme.FooMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  ...
</mapper>]]></source>

            <p>You can also provide values for parameters that can be modified dynamically at runtime:</p>
            
<source><![CDATA[<mapper namespace="org.acme.FooMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <property name="timeToIdleSeconds" value="3600"/><!--1 hour-->
    <property name="timeToLiveSeconds" value="3600"/><!--1 hour-->
    <property name="maxEntriesLocalHeap" value="1000"/>
    <property name="maxEntriesLocalDisk" value="10000000"/>
    <property name="memoryStoreEvictionPolicy" value="LRU"/>
  </cache>
  ...
</mapper>]]></source>

            <p>You may need to use a blocking cache. See the details <a href="https://www.ehcache.org/generated/2.10.4/html/ehc-all/#page/Ehcache_Documentation_Set%2Fco-bsp_blocking_class.html%23">here</a>.
            This is how it is configured:</p>
            
            <source><![CDATA[<mapper namespace="org.acme.FooMapper">
  <cache type="org.mybatis.caches.ehcache.EhBlockingCache"/>
  ...
</mapper>]]></source>

            <p>Users that need to configure Ehcache through XML configuration file, have to put in the classpath the <code>/ehcache.xml</code> resource.
               Please refer to the official Ehcache <a href="https://www.ehcache.org/generated/2.10.4/html/ehc-all/#page/Ehcache_Documentation_Set%2Fco-cfgbasics_xml_configuration.html%23">documentation</a> to know more details.</p>

            <p>If the <code>/ehcache.xml</code> resource is not found or something goes wrong while loading it, the default configuration will be used.</p>
        </section>
    </body>

</document>
